streamlit==1.32.0
streamlit-option-menu==0.3.13
pandas==2.2.2
seaborn==0.13.2
plotly==5.22.0
scikit-learn==1.4.2
xgboost==2.1.1
lightgbm==4.5.0
catboost==1.2.5
prophet==1.1.5
zipfile36==0.1.3
